/* Basic styling for the navbar */
.navbar {
    background-color: #f7f9fc; 
    padding: 10px 20px; 
}
  
.navbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    gap:50px;
  }
  
.navbarItem {
    color: black; 
    text-decoration: none; 
    padding: 10px 20px; 
    font-size: 25px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease; 
}
  
.navbarItem:hover {
    background-color: #5c00e6;
} 
  