/* Main container to align child elements horizontally */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; 
}

/* Navbar on the left side */
.navbar {
    width: 250px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto; 
    height: 100vh; 
    position: sticky; 
    top: 0; 
    background: linear-gradient(45deg, #1e88e5, #d81b60); /* Gradient background for the navbar */

    
}

/* Main content area on the right side */
.mainContent {
    flex: 1; /* Takes up the remaining space */
    margin: 20px; /* Margin around the main content */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
/* Location feature */

/* Map styles */
.container1 {
    background-color: #f7f9fc; /* Light background for contrast */
    flex: 1;
    border: 4px solid transparent; /* Transparent border to show the gradient */
    border-image: linear-gradient(45deg, #1e88e5, #d81b60, #6a1b9a); /* Gradient colors */
    border-image-slice: 1;
  }
  

/* Container2 styles */
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px; 
    gap: 20px;
    flex: 1; 
    
}

/* Chatbot styles */
.feature2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f7f9fc;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Dashboard styles */
.feature3 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f7f9fc;
    padding: 20px;
    flex: 1; 
    margin: 0;
}


.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(122, 8, 209, 0.8); 
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, rgb(58, 48, 186), rgb(104, 39, 154) 70.71%);
  
  }


/* ChatbotImg styles */
.chatbotImg {
    width: 20%;
    height: 20%;
}

