/* Main container to align child elements horizontally */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; 
}

/* Navbar on the left side */
.navbar {
    width: 250px; 
    background-color: #f7f9fc; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto; 
    height: 100vh; 
    position: sticky; 
    top: 0; 
    
}

/* Main content area on the right side */
.mainContent {
    flex: 1; /* Takes up the remaining space */
    margin: 20px; /* Margin around the main content */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
/* Location feature */
.feature0{
    margin-top: 20px;

}
/* Map styles */
.container1 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f7f9fc; 
    flex: 1;

}

/* Container2 styles */
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px; 
    gap: 20px;
    flex: 1; 
    
}

/* Chatbot styles */
.feature2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f7f9fc;
    padding: 20px;
    flex: 1;
}

/* ChatbotTag styles */
.chatbotTag {
    background: linear-gradient(45deg, rgb(98, 44, 233), rgb(186, 103, 235) 70.71%);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    outline: none;
    box-shadow: 0 0 8px rgba(122, 8, 209, 0.8); 
    transition: box-shadow 0.3s ease-in-out;
}

/* Dashboard styles */
.feature3 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f7f9fc;
    padding: 20px;
    flex: 1; 
}

/* ChatbotImg styles */
.chatbotImg {
    width: 20%;
    height: 20%;
}

/* ChatbotText styles */
.chatbotText {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
