*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e0e7ff;

}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}


svg {
  display: inline-block;
  vertical-align: middle;
}


.App {
  font-family: sans-serif;
  text-align: center;
}
