.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin: 10px 10px;
}
  
.inputField {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #9966ff;
    border-radius: 30px;
    font-size: 16px;
}
.inputField:focus {
    outline: none;
    /* Illuminated */
    box-shadow: 0 0 10px #9966ff;
}
.inputField::placeholder {
    color: #7458bb;
}
  
.iconButton {
    position: absolute;
    right: 10px; /* Position the icon on the right side */
    background: none;
    border: none;
    cursor: pointer;
    color: #5c00e6; /* Icon color */
    font-size: 20px; 
    /* Center the icon within the button */
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconButton:hover {
    color: #000; /* Change color on hover */
}
  
